<div class="bg-white ">
  <div class= 'row mt-4'>
    <div class='col-md-6'>
      <h3 class="fs-2">My Meetings</h3>
    </div>

    <div class='col-md-6'>
      <div class="float-end">
        <%= link_to ' + Schedule a Meeting', new_meeting_path , class: 'btn btn-primary'%>
      </div>
    </div>
  </div>
</div>
<div class="bg-light p-3 pt-4">
  <%=render partial: 'tab' %>

  <% if (params[:meeting_type] == "completed" && params[:view_type] == "calendar") || (params[:meeting_type] == "upcomming" && params[:view_type] == "calendar") %>
    <div id="calendar"></div>
  <% else %>
    <%=render partial: 'filter' %>
<% end %>
</div>



<%= javascript_pack_tag 'calendar' %>
<script>
  $(function() {
    $('.meeting_daterange').daterangepicker({
      locale: {
        format: 'DD/MM/YYYY'
      }
    },
    function(start, end, label) {
      var type_var = "<%= params[:meeting_type] %>"
      $.ajax({
        type: "GET",// GET in place of POST
        contentType: "application/json; charset=utf-8",
        url: "/meetings",
        data : {start_date: start.format('YYYY-MM-DD'), end_date: end.format('YYYY-MM-DD'), meeting_type: type_var},
        dataType: "script"
      });
    });
  });
</script>
