<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">New User</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @user, url: user_index_path, local: true do |f| %>
          <div class="form-group">
            <%= f.text_field :user_name, autofocus: true, placeholder: 'User Name', class: 'form-control' %>
          </div><br>

          <div class="form-group">
            <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
          </div><br>

          <div class="form-group">
            <%= f.select :company_id, Company.all.map{|c| [c.name, c.id]}, prompt: 'Please select a company', class: 'form-select' %>
          </div><br>

          <div class="actions">
            <%= f.submit "Add user",class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
