<b><span style="font-size: 24px ;"><u>Registered Users</u></span></b>

<%= render "new_form" %>


<br><br>
<table class="table">
  <tr class="border">
    <th>Name</th>
    <th>Email</th>
    <th>Option</th>
  </tr>
  <% @users.each do |user| %>
    <tr class="border">
      <td><%= user.user_name %></td>
      <td><%=  user.email %></td>
      <td><%= link_to "<i class='far fa-eye'></i>".html_safe,user_path(user) %>  <%= link_to "<i class='far fa-edit'></i>".html_safe,edit_user_path(user) %>  <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, user_path(user),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
</table>
